## **Trabalho - Aprendizado Não Supervisionado**

In [13]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
df = pd.read_csv('/content/drive/MyDrive/winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### **ATRIBUTOS:**:

1 - Acidez Fixa

2 - Acidez Volátil

3 - Ácido Cítrico

4 - Açúcar Residual

5 - Cloretos

6 - Dióxido de Enxofre Livre

7 - Total de Dióxido de Enxofre

8 - Densidade

9 - pH

10 - Sulfatos

11 - Álcool

Variável de saída (com base em dados sensoriais):

12 - Qualidade (pontuação entre 0 e 10)

###**EXPLORAÇÃO E TRATAMENTO DOS DADOS**

**Alterando nomes das colunas**

In [17]:
df.head(1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [20]:
df.rename(columns={'fixed acidity': 'Acidez Fixa', 'volatile acidity': 'Acidez Volatil', 'citric acid': 'Acido Citrico', 'residual sugar': 'Acucar Residual' ,'chlorides': 'Cloretos', 
                   'free sulfur dioxide': 'Dioxido de Enxofre Livre', 'total sulfur dioxide': 'Total de Dioxido de Enxofre', 'density': 'Densidade', 'sulphates': 'Sulfatos', 
                   'alcohol': 'Alcool', 'quality': 'Qualidade'}, inplace=True)

In [21]:
df.head(1)

,Acidez Fixa,Acidez Volatil,Acido Citrico,Acucar Residual,Cloretos,Dioxido de Enxofre Livre,Total de Dioxido de Enxofre,Densidade,pH,Sulfatos,Alcool,Qualidade
0,7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

**Transformar variáveis categóricas em numéricas**

Não é necessario pois todas as colunas são de valores númericos